name: Cleanup AWS Resources

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Make cleanup script executable
        run: chmod +x ./scripts/cleanup.sh

      - name: Run cleanup
        run: |
          NAME_PREFIX=devops-assignment AWS_REGION=${{ secrets.AWS_REGION }} ./scripts/cleanup.sh
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
